.footer_ref {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 30px;
	font-weight: 600;
	font-variant: cursive;
	color: #FFF;
	background-color: rgba(0, 0, 0, 0.623);
	padding: 2px;
	width: auto;
	position: static;
	bottom: 0;
	flex: 0 0 50px;
	margin-top: auto;
}

.jumbotron-fluid {
padding: 20px;

}


.row-fluid {
	padding: 20px;
	margin: 20px;
}

.weatherbox {
    border-color: rgb(173, 210, 211);
    padding: 25px;
}

body { 
	background: url('../images/mission_to_mars.png') no-repeat center center fixed; 
	/* ========= FOR ALL WEB BROWSER KNOWN ============*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 97%;
  }

	
#j-fld {
	opacity: 80%;
	background-color: rgb(245, 239, 231);  
}



.big-container{
	padding : 20px;
	margin: 10px;
	background-color: whitesmoke;
	
}


.row-grid {
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
    background-color: whitesmoke;
}

#latest_news_head {
    font-size: 25pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
	color:rgb(62, 24, 231);
	font-variant: small-caps;
	font-weight: 700;
}

#welcome_head {
	font-size: 40pt;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
	font-size: 40t;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Geneva, Tahoma, sans-serif;
	font-style: oblique;
	color: white;
	Background : black;
	padding: 10px;

}

.sm-box {
	padding: 10px;
	background-color: rgb(252, 252, 252);
}

.mid-box {
	padding: 50px;
	margin: 20px;
	background-color: rgb(252, 252, 252);
}

.mission-to-mars-text {	
	text-align: center;
	font-size: 50px;
	font-variant: small-caps;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-size-adjust: auto;
	position: relative; /* relative to the parents which is the p-tag*/
}

.mission-to-mars-box {
	background-color: rgb(0, 0, 0);
	padding: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}


.welcome{
	max-width:fit-content;
	text-align: center;
}





.colr_shift{
    -webkit-animation: color-change 12s infinite;
    -moz-animation: color-change 12s infinite;
    -o-animation: color-change 7s infinite;
    -ms-animation: color-change 12s infinite;
    animation: color-change 5s infinite;
}

@-webkit-keyframes color-change {
	0% { color: rgb(255, 0, 0); }
	10% { color: rgb(255, 153, 0); }
	20% { color: rgb(251, 255, 0); }
	30% { color: rgb(43, 255, 0); }
	40% { color: rgb(0, 225, 255); }
	50% { color: rgb(0, 26, 255); }
	60% { color: rgb(195, 0, 255); }
	70% { color: rgb(255, 0, 170); }
	80% { color: rgb(255, 0, 0); }
	90% { color: rgb(255, 0, 0); }
	100% { color: rgb(255, 0, 0); }
}
@-moz-keyframes color-change {
    0% { color: rgb(255, 0, 0); }
	10% { color: rgb(255, 153, 0); }
	20% { color: rgb(251, 255, 0); }
	30% { color: rgb(43, 255, 0); }
	40% { color: rgb(0, 225, 255); }
	50% { color: rgb(0, 26, 255); }
	60% { color: rgb(195, 0, 255); }
	70% { color: rgb(255, 0, 170); }
	80% { color: rgb(255, 0, 0); }
	90% { color: rgb(255, 0, 0); }
	100% { color: rgb(255, 0, 0); }
}
@-ms-keyframes color-change {
    0% { color: rgb(255, 0, 0); }
	10% { color: rgb(255, 153, 0); }
	20% { color: rgb(251, 255, 0); }
	30% { color: rgb(43, 255, 0); }
	40% { color: rgb(0, 225, 255); }
	50% { color: rgb(0, 26, 255); }
	60% { color: rgb(195, 0, 255); }
	70% { color: rgb(255, 0, 170); }
	80% { color: rgb(255, 0, 0); }
	90% { color: rgb(255, 0, 0); }
	100% { color: rgb(255, 0, 0); }
}
@-o-keyframes color-change {
    0% { color: rgb(255, 0, 0); }
	10% { color: rgb(255, 153, 0); }
	20% { color: rgb(251, 255, 0); }
	30% { color: rgb(43, 255, 0); }
	40% { color: rgb(0, 225, 255); }
	50% { color: rgb(0, 26, 255); }
	60% { color: rgb(195, 0, 255); }
	70% { color: rgb(255, 0, 170); }
	80% { color: rgb(255, 0, 0); }
	90% { color: rgb(255, 0, 0); }
	100% { color: rgb(255, 0, 0); }
}	
@keyframes color-change {
	0% { color: rgb(255, 0, 0); }
	10% { color: rgb(255, 153, 0); }
	20% { color: rgb(251, 255, 0); }
	30% { color: rgb(43, 255, 0); }
	40% { color: rgb(0, 225, 255); }
	50% { color: rgb(0, 26, 255); }
	60% { color: rgb(195, 0, 255); }
	70% { color: rgb(255, 0, 170); }
	80% { color: rgb(255, 0, 0); }
	90% { color: rgb(255, 0, 0); }
	100% { color: rgb(255, 0, 0); }
}

#mars_box {
	position: absolute;
	left: 80px;


}